
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/api.js"></script>
  <script src="/static/assets/js/bootstrap.min.js"></script>
  <script src="/static/assets/js/buttons.js"></script>
  <script src="/static/assets/js/choices.min.js"></script>
  <script src="/static/assets/js/creative-tim-live-preview-58b9a01a7238fdb1af774ac4c4805ca0c01328b2a1e20cda17d9fbd344735e3d.js"></script>
  <script src="/static/assets/js/dragula.min.js"></script>
  <script src="/static/assets/js/jkanban.js"></script>
  <script src="/static/assets/js/popper.min.js"></script>
  <script src="/static/assets/js/smooth-scrollbar.min.js"></script>
  <script src="/static/assets/js/vaafb692b2aea4879b33c060e79fe94621666317369993.js"></script>

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/soft-ui-dashboard.js?v=1.0.0"></script>

