{% extends 'layouts/base-fullscreen.html' %} {% block title %} Vertification {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<section>
  <div class="page-header section-height-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
          <div class="card card-plain mt-8">
            <div class="card-header pb-0 text-left bg-transparent">
              <h4 class="text-info text-gradient">
                <p class="mb-0">
                  {% if msg %} {{ msg | safe }} {% else %} Your account doesn't exist {% endif %}
                </p>
              </h4>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Go login your account and enjoy
                <a href="{% url 'login' %}" class="text-info text-gradient font-weight-bold"
                  >Sign IN</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
            <div
              class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
              style="background-image: url('/static/assets/img/curved-images/curved6.jpg')"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
  var win = navigator.platform.indexOf("Win") > -1;
  if (win && document.querySelector("#sidenav-scrollbar")) {
    var options = {
      damping: "0.5",
    };
    Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
  }
</script>

{% endblock javascripts %}
