{% extends 'layouts/base.html' %} {% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h5 class="mb-0">All Products</h5>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
              <div class="ms-auto my-auto">
                <a
                  href="/newproduct.html"
                  class="btn bg-gradient-primary btn-sm mb-0"
                  >+&nbsp; New Product</a
                >
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm mb-0"
                  data-bs-toggle="modal"
                  data-bs-target="#import"
                >
                  Import
                </button>
                <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog mt-lg-10">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                        <i class="fas fa-upload ms-3" aria-hidden="true"></i>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>You can browse your computer for a file.</p>
                        <input
                          type="text"
                          placeholder="Browse file..."
                          class="form-control mb-3"
                          onfocus="focused(this)"
                          onfocusout="defocused(this)"
                        />
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="importCheck"
                            checked=""
                          />
                          <label class="custom-control-label" for="importCheck"
                            >I accept the terms and conditions</label
                          >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn bg-gradient-secondary btn-sm"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1"
                  data-type="csv"
                  type="button"
                  name="button"
                >
                  Export
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <div
              class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
            >
              <div class="dataTable-top">
                <div class="dataTable-dropdown">
                  <label
                    ><select class="dataTable-selector">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                    </select>
                    entries per page</label
                  >
                </div>
                <div class="dataTable-search">
                  <input class="dataTable-input" placeholder="Search..." type="text" />
                </div>
              </div>
              <div class="dataTable-container">
                <table class="table table-flush dataTable-table" id="products-list">
                  <thead class="thead-light">
                    <tr>
                      <th data-sortable="" style="width: 41.119%">
                        <a href="#" class="dataTable-sorter">Product</a>
                      </th>
                      <th data-sortable="" style="width: 10.027%">
                        <a href="#" class="dataTable-sorter">Category</a>
                      </th>
                      <th data-sortable="" style="width: 7.75194%">
                        <a href="#" class="dataTable-sorter">Price</a>
                      </th>
                      <th data-sortable="" style="width: 10.1112%">
                        <a href="#" class="dataTable-sorter">SKU</a>
                      </th>
                      <th data-sortable="" style="width: 8.34176%">
                        <a href="#" class="dataTable-sorter">Quantity</a>
                      </th>
                      <th data-sortable="" style="width: 11.7122%">
                        <a href="#" class="dataTable-sorter">Status</a>
                      </th>
                      <th data-sortable="" style="width: 11.0381%">
                        <a href="#" class="dataTable-sorter">Action</a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">
                          
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/adidas-hoodie.jpg"
                            alt="hoodie"
                          />
                          <h6 class="ms-3 my-auto">BKLGO Full Zip Hoodie</h6>
                        </div>
                      </td>
                      <td class="text-sm">Clothing</td>
                      <td class="text-sm">$1,321</td>
                      <td class="text-sm">243598234</td>
                      <td class="text-sm">0</td>
                      <td>
                        <span class="badge rounded-pill bg-danger">Out of Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/macbook-pro.jpg"
                            alt="mac"
                          />
                          <h6 class="ms-3 my-auto">MacBook Pro</h6>
                        </div>
                      </td>
                      <td class="text-sm">Electronics</td>
                      <td class="text-sm">$1,869</td>
                      <td class="text-sm">877712</td>
                      <td class="text-sm">0</td>
                      <td>
                        <span class="badge rounded-pill bg-danger">Out of Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/metro-chair.jpg"
                            alt="metro-chair"
                          />
                          <h6 class="ms-3 my-auto">Metro Bar Stool</h6>
                        </div>
                      </td>
                      <td class="text-sm">Furniture</td>
                      <td class="text-sm">$99</td>
                      <td class="text-sm">0134729</td>
                      <td class="text-sm">978</td>
                      <td>
                        <span class="badge rounded-pill bg-success">in Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                         
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/alchimia-chair.jpg"
                            alt="alchimia"
                          />
                          <h6 class="ms-3 my-auto">Alchimia Chair</h6>
                        </div>
                      </td>
                      <td class="text-sm">Furniture</td>
                      <td class="text-sm">$2,999</td>
                      <td class="text-sm">113213</td>
                      <td class="text-sm">0</td>
                      <td>
                        <span class="badge rounded-pill bg-danger">Out of Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/fendi-coat.jpg"
                            alt="fendi"
                          />
                          <h6 class="ms-3 my-auto">Fendi Gradient Coat</h6>
                        </div>
                      </td>
                      <td class="text-sm">Clothing</td>
                      <td class="text-sm">$869</td>
                      <td class="text-sm">634729</td>
                      <td class="text-sm">725</td>
                      <td>
                        <span class="badge rounded-pill bg-success">in Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                         
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/off-white-jacket.jpg"
                            alt="off_white"
                          />
                          <h6 class="ms-3 my-auto">Off White Cotton Bomber</h6>
                        </div>
                      </td>
                      <td class="text-sm">Clothing</td>
                      <td class="text-sm">$1,869</td>
                      <td class="text-sm">634729</td>
                      <td class="text-sm">725</td>
                      <td>
                        <span class="badge rounded-pill bg-success">in Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          
                          <img
                            class="w-10 ms-3"
                            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/yohji-yamamoto.jpg"
                            alt="yohji"
                          />
                          <h6 class="ms-3 my-auto">Y-3 Yohji Yamamoto</h6>
                        </div>
                      </td>
                      <td class="text-sm">Shoes</td>
                      <td class="text-sm">$869</td>
                      <td class="text-sm">634729</td>
                      <td class="text-sm">725</td>
                      <td>
                        <span class="badge rounded-pill bg-success">in Stock</span>
                      </td>
                      <td class="text-sm">
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Preview product"
                        >
                          <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          class="mx-3"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit product"
                        >
                          <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                        </a>
                        <a
                          href="javascript:;"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete product"
                        >
                          <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
  var win = navigator.platform.indexOf("Win") > -1;
  if (win && document.querySelector("#sidenav-scrollbar")) {
    var options = {
      damping: "0.5",
    };
    Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
  }
</script>

{% endblock javascripts %}
